


<div class="row" style="display:block">
    <div class="col s1"><h5>Name: </h5> <%= purchase.place %></div>
    <div class="col s2"><h5>Date: </h5> <%= purchase.purchase_date %></div>
    <div class="col s2"><h5>Total: </h5> <%= purchase.total  %></div>
    <div class="col s1"><h5>Note: </h5> <%= purchase.note %></div>
    <div class="col s2"><h5> Category: </h5> 
</div>