


<div class="row" style="display:block">
    <div class="col s1"><h6>Name: </h6> <%= purchase.place %></div>
    <div class="col s1"><h6>Date: </h6> <%= purchase.purchase_date %></div>
    <div class="col s1"><h6>Total: </h6> $<%= purchase.total  %></div>
    <div class="col s2"><h6>Note: </h6> <%= purchase.note %></div>
    <div class="col s1"><h6> Category: </h6> 
</div>